body{
		background-color:black;
		color: white;
	}
	p.info {
		padding: 0 70px;
		font-size : 30px;
		font-family : lucida handwriting,cursive;
	}
	.ironhead {
		text-align:center;	
	}
	table{
		border:0px solid white;
		border-collapse: collapse;
	}
	td{
		text-align:center;
		border : 0px solid white;
		border-collapse: collapse;
	}
	.data1{
		border-right: 1px solid white;
	}
	.data2{
		border-right : 1px solid white;
	}
	.align1, .align2,.align3{
		padding-left: 30px;
		padding-right: 30px;
		text-align:justify;
	}
	.hulkhead {
		text-align:center;	
	}
	.capam {
		text-align : center
	}
	.tdata1{
	border-bottom : 1px solid white;
	border-right: 1px solid white;
	}
	.tdata2 {
	border-bottom : 1px solid white;
	}
	.thor {
		text-align : center
	}
	.avengers {
		text-align : center
	}
	